/GiiBiiAdvance.layout
/Makefile~
/frontend/config.c~
/frontend/config.o
/frontend/libretro/Giibiiadvance_libretro.so
/frontend/libretro/Makefile~
/frontend/libretro/libretro.c~
/frontend/libretro/libretro.o
/frontend/main.o
/frontend/util.o
/gba_core/arm.o
/gba_core/bios.o
/gba_core/cpu.o
/gba_core/disassembler.o
/gba_core/dma.o
/gba_core/gba.o
/gba_core/interrupts.o
/gba_core/memory.o
/gba_core/rom.o
/gba_core/save.o
/gba_core/sound.o
/gba_core/thumb.o
/gba_core/timers.o
/gba_core/video.o
